force-app/main/default/flows/MercadoPago_Data_Retrieval_Alt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Payer_Data</name>
        <label>Get Payer Data</label>
        <locationX>2426</locationX>
        <locationY>2738</locationY>
        <actionName>MercadoPagoUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GPD_Response_200</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>GetPayerData</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payerEmail</name>
            <value>
                <elementReference>Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payerId</name>
            <value>
                <elementReference>IncomingPayment.Payer_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MercadoPagoUtils</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MP_Get_Payment</name>
        <label>MP Get Payment</label>
        <locationX>2558</locationX>
        <locationY>350</locationY>
        <actionName>MpGetPaymentAlternative.MP Get Payment</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Response_Status_Code_200</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MpGetPaymentAlternative.MP Get Payment</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MP_Get_Preapproval</name>
        <label>MP Get Preapproval</label>
        <locationX>1898</locationX>
        <locationY>3422</locationY>
        <actionName>MpGetPreapprovalAlternative.MP Get Preapproval</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>MPGPA_Response_200</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Subscription_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MpGetPreapprovalAlternative.MP Get Preapproval</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MP_Get_Subscription_Plan</name>
        <label>MP Get Subscription Plan</label>
        <locationX>1755</locationX>
        <locationY>4778</locationY>
        <actionName>MpGetSubscriptionPlanAlternative.MP Get Subscription Plan</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>MPGSP_Response_200</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Plan_Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MpGetSubscriptionPlanAlternative.MP Get Subscription Plan</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Payment_Dates</name>
        <label>Parse Payment Dates</label>
        <locationX>1898</locationX>
        <locationY>1340</locationY>
        <actionName>MercadoPagoUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lookup_Subscription</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>ParsePaymentDates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payment</name>
            <value>
                <elementReference>IncomingPayment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MercadoPagoUtils</nameSegment>
        <outputParameters>
            <assignToReference>DayOfMonth</assignToReference>
            <name>dayOfMonth</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IncomingPayment</assignToReference>
            <name>paymentR</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Plan_Dates</name>
        <label>Parse Plan Dates</label>
        <locationX>1623</locationX>
        <locationY>5102</locationY>
        <actionName>MercadoPagoUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Insert_Subscription_Plan</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>ParsePlanDates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plan</name>
            <value>
                <elementReference>NewPlan</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MercadoPagoUtils</nameSegment>
        <outputParameters>
            <assignToReference>NewPlan</assignToReference>
            <name>planR</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Subscription_Dates</name>
        <label>Parse Subscription Dates</label>
        <locationX>1370</locationX>
        <locationY>4346</locationY>
        <actionName>MercadoPagoUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Subscription_New</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>ParseSubscriptionDates</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscription</name>
            <value>
                <elementReference>NewSubscription</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MercadoPagoUtils</nameSegment>
        <outputParameters>
            <assignToReference>DayOfMonth</assignToReference>
            <name>dayOfMonth</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NewSubscription</assignToReference>
            <name>subscriptionR</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_New_Subscription_Plan</name>
        <label>Add New Subscription Plan</label>
        <locationX>1623</locationX>
        <locationY>5426</locationY>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Subscription_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_To_Upsert_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_Id</name>
        <label>Add Record Id</label>
        <locationX>1700</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>IncomingPayment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Payment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.MP_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Payment.MP_Subscription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Subscription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Last_Charged_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.transactionx5fdetails.totalx5fpaidx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Last_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.datex5flastx5fupdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Payer_Have_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Subscription</name>
        <label>Add Subscription</label>
        <locationX>1964</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>IncomingPayment.MP_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Subscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Subscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Payer_Have_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Subscription_Plan</name>
        <label>Add Subscription Plan</label>
        <locationX>1359</locationX>
        <locationY>4778</locationY>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Subscription_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Subscription_Plan.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_To_Upsert_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>1106</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Searched_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactExistence</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MP_Get_Preapproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Search_e</name>
        <label>Assign Contact Search (e)</label>
        <locationX>1370</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>Searched_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Contact_By_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Search_id</name>
        <label>Assign Contact Search (id)</label>
        <locationX>2426</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>Searched_Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_Contact_By_MP_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Contact_Have_Complete_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Subscription</name>
        <label>Assign Contact to Subscription</label>
        <locationX>2162</locationX>
        <locationY>6518</locationY>
        <assignmentItems>
            <assignToReference>NewSubscription.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_With_No_Name</name>
        <label>Assign Contact With No Name</label>
        <locationX>2162</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Searched_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactExistence</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payer_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_To_Contact</name>
        <label>Assign Email To Contact</label>
        <locationX>2426</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Searched_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.identification.z0type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Doc_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.identification.z0number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactExistence</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingPayment.Payer_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>MP_Get_Preapproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_To_Empty_Contact</name>
        <label>Assign Email To Empty Contact</label>
        <locationX>2954</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payer_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Contact</name>
        <label>Assign Existing Contact</label>
        <locationX>2096</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payer_Data.c.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payer_Data.c.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactExistence</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MP_Get_Preapproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FR_Sub</name>
        <label>Assign FR Sub</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Recurring</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opportunity_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Get_Opportunity_Error</name>
        <label>Assign Get Opportunity Error</label>
        <locationX>974</locationX>
        <locationY>9074</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Get Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Recurring Donation Id: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Recurring_Donation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead</name>
        <label>Assign Lead</label>
        <locationX>1590</locationX>
        <locationY>5894</locationY>
        <assignmentItems>
            <assignToReference>Contact.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercadopago</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MP_ID</name>
        <label>Assign MP ID</label>
        <locationX>1370</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Searched_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Payer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.identification.z0type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Doc_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.identification.z0number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactExistence</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unregistered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MP_Get_Preapproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact</name>
        <label>Assign New Contact</label>
        <locationX>2360</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payer_Data.c.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payer_Data.c.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Doc_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.identification.z0type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Doc_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.identification.z0number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactExistence</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.MP_Payer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payer_Data.c.MP_Payer_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MP_Get_Preapproval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Opportunity</name>
        <label>Assign New Opportunity</label>
        <locationX>1238</locationX>
        <locationY>8666</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.MP_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingPayment.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment.Date_Created_DT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppStageVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Plataforma_de_pago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercadopago</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Subscription</name>
        <label>Assign New Subscription</label>
        <locationX>2162</locationX>
        <locationY>6842</locationY>
        <assignmentItems>
            <assignToReference>NewSubscription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.MP_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscription.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Payment_Rejected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Stage_Var</name>
        <label>Assign Opp Stage Var</label>
        <locationX>1766</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>OppStageVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Payment_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Retrieved_Data</name>
        <label>Assign Opportunity Retrieved Data</label>
        <locationX>446</locationX>
        <locationY>9074</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.MP_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingPayment.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppStageVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Plataforma_de_pago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercadopago</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncomingPayment.Date_Created_DT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OR_Sub</name>
        <label>Assign OR Sub</label>
        <locationX>1502</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Recurring</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opportunity_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OT_Sub</name>
        <label>Assign OT Sub</label>
        <locationX>2030</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Recurring</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Opportunity_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment</name>
        <label>Assign Payment</label>
        <locationX>1898</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Bin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.bin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Cardholder_Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.cardholder.identification.z0number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Cardholder_Identification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.cardholder.identification.z0type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Cardholder_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.cardholder.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Date_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.datex5fcreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Date_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.datex5flastx5fupdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Expiration_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.expirationx5fmonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Expiration_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.expirationx5fyear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_First_Six_Digits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.firstx5fsixx5fdigits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Card_Last_Four_Digits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.card.lastx5ffourx5fdigits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Collector_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.collectorx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Date_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.datex5fapproved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Date_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.datex5fcreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Date_Last_Updated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.datex5flastx5fupdated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Installment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.transactionx5fdetails.installmentx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Installments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.installments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Net_Received_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.transactionx5fdetails.netx5freceivedx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Payer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Payer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Payment_Method_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.paymentx5fmethod.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Payment_Method_Issuer_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.paymentx5fmethod.issuerx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Payment_Method_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.paymentx5fmethod.z0type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Status_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.statusx5fdetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Subscription_Sequence_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fsequence.z0number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Subscription_Sequence_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fsequence.total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.transactionx5fdetails.totalx5fpaidx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Transaction_Billing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.billingx5fdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.MP_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.currencyx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IncomingPayment.Payment_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Recurrence1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recurring_Donation</name>
        <label>Assign Recurring Donation</label>
        <locationX>1282</locationX>
        <locationY>7358</locationY>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.MP_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Auto_Recurring_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npe03__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npe03__Installments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Total_Installments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npe03__Date_Established__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Auto_Recurring_Start_Date_DT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Auto_Recurring_End_Date_DT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Auto_Recurring_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npe03__Installment_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frequency_Period</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__InstallmentFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frequency_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__RecurringType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecurringType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.Plataforma_de_pago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercadopago</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.Procesador_de_pagos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mercadopago</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Auto_Recurring_Start_Date_DT__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Recurring_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recurring_Donation_Updates</name>
        <label>Assign Recurring Donation Updates</label>
        <locationX>50</locationX>
        <locationY>6734</locationY>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npe03__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Auto_Recurring_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Recurring_Donation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Start_Date</name>
        <label>Assign Start Date</label>
        <locationX>1458</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Auto_Recurring_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscription.MP_Date_Created__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Subscription_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription</name>
        <label>Assign Subscription</label>
        <locationX>1370</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.applicationx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Auto_Recurring_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.transactionx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Auto_Recurring_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Auto_Recurring_Frequency_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.frequencyx5ftype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Auto_Recurring_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.startx5fdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Collector_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.collectorx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Last_Charged_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.summarized.lastx5fchargedx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Last_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.lastx5fmodified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Payer_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.payerx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Payment_Method_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.paymentx5fmethodx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Plan_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.preapprovalx5fplanx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Subscription_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subscription_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.currencyx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Auto_Recurring_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.transactionx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Auto_Recurring_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.endx5fdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Next_Installment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.nextx5fpaymentx5fdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Total_Installments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.summarized.quotas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.Is_Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recurring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Date_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.datex5fcreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Summary_Charged_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.summarized.chargedx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Summary_Charged_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.summarized.chargedx5fquantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Summary_Sempahore__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.summarized.semaphore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubscription.MP_Summary_Last_Charged_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.summarized.lastx5fchargedx5fdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Map_Subscription_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Plan</name>
        <label>Assign Subscription Plan</label>
        <locationX>1623</locationX>
        <locationY>4994</locationY>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Plan_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Application_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.applicationx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Auto_Recurring_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.autox5frecurring.frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Auto_Recurring_Frequency_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.autox5frecurring.frequencyx5ftype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Collector_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.collectorx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Date_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.datex5fcreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Last_Modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.lastx5fmodified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.autox5frecurring.currencyx5fid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Subscription_Plan.2XX.autox5frecurring.transactionx5famount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.Is_Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recurring</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPlan.MP_Total_Installments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fsequence.total</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_Plan_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Endpoint_error</name>
        <label>Endpoint error</label>
        <locationX>3482</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Endpoint</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Wrong Endpoint</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Evaluate_Recurrence_Error</name>
        <label>Evaluate Recurrence Error</label>
        <locationX>2294</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Evaluate Recurrence</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not enough data to process.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Payment_Error</name>
        <label>Get Payment Error</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Get Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status Code != 200</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Plan_Error</name>
        <label>Get Plan Error</label>
        <locationX>1887</locationX>
        <locationY>4994</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Get Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status Code != 200</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Preapproval_Error</name>
        <label>Get Preapproval Error</label>
        <locationX>2426</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Get Preapproval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status Code != 200</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_1st_15th_Frequency</name>
        <label>Map 1st &amp; 15th Frequency</label>
        <locationX>1282</locationX>
        <locationY>7058</locationY>
        <assignmentItems>
            <assignToReference>Frequency_Period</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1st and 15th</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Frequency_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_n_Monthly_Frequency</name>
        <label>Map n-Monthly Frequency</label>
        <locationX>1018</locationX>
        <locationY>7058</locationY>
        <assignmentItems>
            <assignToReference>Frequency_Period</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Frequency_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MP_Get_Preapproval.2XX.autox5frecurring.frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRecurringDonation.npsp__Day_of_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DayOfMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Weekly_Frequency</name>
        <label>Map Weekly Frequency</label>
        <locationX>1546</locationX>
        <locationY>7058</locationY>
        <assignmentItems>
            <assignToReference>Frequency_Period</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Weekly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Frequency_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Yearly_Frequency</name>
        <label>Map Yearly Frequency</label>
        <locationX>754</locationX>
        <locationY>7058</locationY>
        <assignmentItems>
            <assignToReference>Frequency_Period</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yearly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Frequency_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payer_Data_Error</name>
        <label>Payer Data Error</label>
        <locationX>2624</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Get Payer Data</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Status Code != 200</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Contact</name>
        <label>Reassign Contact</label>
        <locationX>1590</locationX>
        <locationY>6218</locationY>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Subscription_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subscription_Active</name>
        <label>Subscription Active</label>
        <locationX>974</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Sub_Have_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subscription_Closed</name>
        <label>Subscription Closed</label>
        <locationX>1502</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Sub_Have_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subscription_Lapsed</name>
        <label>Subscription Lapsed</label>
        <locationX>1238</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lapsed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Sub_Have_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_RD_Error</name>
        <label>Update RD Error</label>
        <locationX>314</locationX>
        <locationY>6950</locationY>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Endpoint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow - Update RD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MP_Notification.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Recurring_Donation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Insert_Notification_Log</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>1370</locationX>
        <locationY>2372</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Lookup_Contact_By_MP_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>MP_ID_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Searched_Contact.MP_Payer_ID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MP_Get_Payment.2XX.payer.id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>MP ID Registered</label>
        </rules>
        <rules>
            <name>MP_ID_Unregistered</name>
            <conditionLogic>2 AND NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>Searched_Contact.MP_Payer_ID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MP_Get_Payment.2XX.payer.id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MP_ID</targetReference>
            </connector>
            <label>MP ID Unregistered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Have_Complete_Data</name>
        <label>Does Contact Have Complete Data?</label>
        <locationX>2426</locationX>
        <locationY>2372</locationY>
        <defaultConnector>
            <targetReference>Assign_Email_To_Empty_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Email_and_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Searched_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>Email and Name</label>
        </rules>
        <rules>
            <name>Email_And_No_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Searched_Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.FirstName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Searched_Contact.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_With_No_Name</targetReference>
            </connector>
            <label>Email And No Name</label>
        </rules>
        <rules>
            <name>No_Email_And_Incoming_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Searched_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IncomingPayment.Payer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_To_Contact</targetReference>
            </connector>
            <label>No Email And Incoming Email</label>
        </rules>
        <rules>
            <name>No_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Searched_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>No Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Payer_Have_Email</name>
        <label>Does Payer Have Email?</label>
        <locationX>1898</locationX>
        <locationY>2048</locationY>
        <defaultConnector>
            <targetReference>Lookup_Contact_By_MP_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Payment.2XX.payer.email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Contact_By_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Payment_Exist</name>
        <label>Does Payment Exist?</label>
        <locationX>1898</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>Subscription_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Payment</defaultConnectorLabel>
        <rules>
            <name>Update_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Payment.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lookup_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Record_Id</targetReference>
            </connector>
            <label>Update Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Plan_Exist</name>
        <label>Does Plan Exist?</label>
        <locationX>1557</locationX>
        <locationY>4670</locationY>
        <defaultConnector>
            <targetReference>MP_Get_Subscription_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Plan</defaultConnectorLabel>
        <rules>
            <name>Existing_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Subscription_Plan.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lookup_Subscription_Plan.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Subscription_Plan</targetReference>
            </connector>
            <label>Existing Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_RD_Exist</name>
        <label>Does RD Exist?</label>
        <locationX>578</locationX>
        <locationY>6626</locationY>
        <defaultConnector>
            <targetReference>Is_Payment_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New RD</defaultConnectorLabel>
        <rules>
            <name>Existing_RD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecurringDonation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recurring_Donation_Updates</targetReference>
            </connector>
            <label>Existing RD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Sub_Have_Start_Date</name>
        <label>Does Sub Have Start Date?</label>
        <locationX>1370</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>Assign_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Start Date</defaultConnectorLabel>
        <rules>
            <name>Has_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSubscription.MP_Auto_Recurring_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parse_Subscription_Dates</targetReference>
            </connector>
            <label>Has Start Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Subscription_Exist</name>
        <label>Does Subscription Exist?</label>
        <locationX>1370</locationX>
        <locationY>6410</locationY>
        <defaultConnector>
            <targetReference>Assign_Contact_to_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Subscription1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Sub</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RD</targetReference>
            </connector>
            <label>Existing Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Frequency_Type</name>
        <label>Evaluate Frequency Type</label>
        <locationX>1282</locationX>
        <locationY>6950</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>Yearly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.autox5frecurring.frequencyx5ftype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.autox5frecurring.frequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Yearly_Frequency</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSubscription.MP_Auto_Recurring_Frequency_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.autox5frecurring.frequency</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_n_Monthly_Frequency</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>X1st_15th</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.autox5frecurring.frequencyx5ftype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.autox5frecurring.frequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_1st_15th_Frequency</targetReference>
            </connector>
            <label>1st &amp; 15th</label>
        </rules>
        <rules>
            <name>Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.autox5frecurring.frequencyx5ftype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>days</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.autox5frecurring.frequency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Map_Weekly_Frequency</targetReference>
            </connector>
            <label>Weekly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Recurrence1</name>
        <label>Evaluate Recurrence</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Recurrence_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Open_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fsequence.total</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OR_Sub</targetReference>
            </connector>
            <label>Open Recurring</label>
        </rules>
        <rules>
            <name>Fixed_Recurring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fsequence.total</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fsequence.total</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_FR_Sub</targetReference>
            </connector>
            <label>Fixed Recurring</label>
        </rules>
        <rules>
            <name>One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Payment.2XX.pointx5fofx5finteraction.transactionx5fdata.subscriptionx5fsequence.total</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OT_Sub</targetReference>
            </connector>
            <label>One Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Opportunity</name>
        <label>Found Opportunity?</label>
        <locationX>710</locationX>
        <locationY>8966</locationY>
        <defaultConnector>
            <targetReference>Assign_Get_Opportunity_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Not Found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Retrieved_Data</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
        <rules>
            <name>Closed_Recurring_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recurring_Donation.npsp__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <label>Closed Recurring Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_Recurring_Donation</name>
        <label>Got Recurring Donation?</label>
        <locationX>974</locationX>
        <locationY>8558</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One Time</defaultConnectorLabel>
        <rules>
            <name>Got_RD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSubscription.Is_Recurring__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Recurring_Donation.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_RD_New</targetReference>
            </connector>
            <label>Got RD</label>
        </rules>
    </decisions>
    <decisions>
        <name>GPD_Response_200</name>
        <label>GPD Response 200?</label>
        <locationX>2426</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Payer_Data_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>GPD_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payer_Data.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contact_New</targetReference>
            </connector>
            <label>GPD OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Endpoint</name>
        <label>Identify Endpoint</label>
        <locationX>3020</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Endpoint_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>error</defaultConnectorLabel>
        <rules>
            <name>Alternative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Endpoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>alternative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Payment</targetReference>
            </connector>
            <label>Alternative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_New</name>
        <label>Is Contact New?</label>
        <locationX>2228</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Existing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Searched_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactExistence</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Contact</targetReference>
            </connector>
            <label>Existing Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_Closed</name>
        <label>Is Opportunity Closed</label>
        <locationX>1898</locationX>
        <locationY>1040</locationY>
        <defaultConnector>
            <targetReference>Parse_Payment_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opp Pledged</defaultConnectorLabel>
        <rules>
            <name>Opp_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Payment.2XX.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opp_Stage_Var</targetReference>
            </connector>
            <label>Opp Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Payment_Rejected</name>
        <label>Is Payment Rejected?</label>
        <locationX>1106</locationX>
        <locationY>6734</locationY>
        <defaultConnector>
            <targetReference>Is_Subscription_Recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Rejected</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncomingPayment.Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Or_Insert_Payment</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RD_New</name>
        <label>Is RD New?</label>
        <locationX>710</locationX>
        <locationY>8666</locationY>
        <defaultConnector>
            <targetReference>Get_Opp_From_Existing_RD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_RD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Existing_RD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Existing_Subscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_From_New_RD</targetReference>
            </connector>
            <label>New RD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Subscription_New</name>
        <label>Is Subscription New?</label>
        <locationX>1370</locationX>
        <locationY>4454</locationY>
        <defaultConnector>
            <targetReference>Lookup_Subscription_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Sub</defaultConnectorLabel>
        <rules>
            <name>Existing_Sub</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Subscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Need_To_Upsert_Contact</targetReference>
            </connector>
            <label>Existing Sub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Subscription_Recurring</name>
        <label>Is Subscription Recurring?</label>
        <locationX>1634</locationX>
        <locationY>6842</locationY>
        <defaultConnector>
            <targetReference>Update_Or_Insert_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One Time Subscription</defaultConnectorLabel>
        <rules>
            <name>Recurring_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSubscription.Is_Recurring__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Frequency_Type</targetReference>
            </connector>
            <label>Recurring Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Map_Subscription_Status</name>
        <label>Map Subscription Status</label>
        <locationX>1370</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Does_Sub_Have_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>pending/other</defaultConnectorLabel>
        <rules>
            <name>Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>authorized</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription_Active</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
        <rules>
            <name>Paused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription_Lapsed</targetReference>
            </connector>
            <label>Paused</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.2XX.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subscription_Closed</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>MPGPA_Response_200</name>
        <label>MPGPA Response 200?</label>
        <locationX>1898</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>Get_Preapproval_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>MPGPA_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Preapproval.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription</targetReference>
            </connector>
            <label>MPGPA OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>MPGSP_Response_200</name>
        <label>MPGSP Response 200?</label>
        <locationX>1755</locationX>
        <locationY>4886</locationY>
        <defaultConnector>
            <targetReference>Get_Plan_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>MPGSP_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Subscription_Plan.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_Plan</targetReference>
            </connector>
            <label>MPGSP OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_To_Upsert_Contact</name>
        <label>Need To Upsert Contact?</label>
        <locationX>1370</locationX>
        <locationY>5786</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Insert</defaultConnectorLabel>
        <rules>
            <name>Contact_Unchanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactExistence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Subscription_Exist</targetReference>
            </connector>
            <label>Contact Unchanged</label>
        </rules>
        <rules>
            <name>Contact_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactExistence</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unregistered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactExistence</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Update</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Contact Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Status_Code_200</name>
        <label>Response Status Code = 200?</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Payment_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Response_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MP_Get_Payment.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payment</targetReference>
            </connector>
            <label>Response OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription_Exists</name>
        <label>Does Subscription Exist?</label>
        <locationX>2096</locationX>
        <locationY>1664</locationY>
        <defaultConnector>
            <targetReference>Does_Payer_Have_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Subscription</defaultConnectorLabel>
        <rules>
            <name>Existing_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Subscription.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lookup_Subscription.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Subscription</targetReference>
            </connector>
            <label>Existing Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Or_Insert_Payment</name>
        <label>Update Or Insert Payment?</label>
        <locationX>578</locationX>
        <locationY>7826</locationY>
        <defaultConnector>
            <targetReference>Insert_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insert</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_Payment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment_1</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upsert_Opportunity</name>
        <label>Upsert Opportunity?</label>
        <locationX>578</locationX>
        <locationY>8234</locationY>
        <defaultConnector>
            <targetReference>Get_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Upsert Opp</defaultConnectorLabel>
        <rules>
            <name>Payment_Rejected_No_Opp</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>IncomingPayment.Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>approved</stringValue>
                </rightValue>
            </conditions>
            <label>Payment Not Approved - No Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MercadoPago Data Retrieval Alternative {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MercadoPago Data Retrieval Alternative</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Contact</name>
        <label>Insert Contact</label>
        <locationX>1590</locationX>
        <locationY>6002</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Notification_Log</name>
        <label>Insert Notification Log</label>
        <locationX>1887</locationX>
        <locationY>5102</locationY>
        <inputReference>MP_Notification</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Opportunity</name>
        <label>Insert Opportunity</label>
        <locationX>1238</locationX>
        <locationY>8774</locationY>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Payment</name>
        <label>Insert Payment</label>
        <locationX>710</locationX>
        <locationY>7934</locationY>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
        <inputReference>IncomingPayment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Recurring_Donation</name>
        <label>Insert Recurring Donation</label>
        <locationX>1282</locationX>
        <locationY>7466</locationY>
        <connector>
            <targetReference>Update_Or_Insert_Payment</targetReference>
        </connector>
        <inputReference>NewRecurringDonation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Subscription</name>
        <label>Insert Subscription</label>
        <locationX>2162</locationX>
        <locationY>6626</locationY>
        <connector>
            <targetReference>Get_Subscription</targetReference>
        </connector>
        <inputReference>NewSubscription</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Subscription_Plan</name>
        <label>Insert Subscription Plan</label>
        <locationX>1623</locationX>
        <locationY>5210</locationY>
        <connector>
            <targetReference>Get_Subscription_Plan</targetReference>
        </connector>
        <inputReference>NewPlan</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_ID</name>
        <label>Get Campaign ID</label>
        <locationX>1282</locationX>
        <locationY>7250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recurring_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Subscription_Plan_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewSubscription.MP_Subscription_Plan__r.MP_Plan_Id__c</elementReference>
            </value>
        </filters>
        <object>MercadoPago_Plan_Campaign_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>NewRecurringDonation.npe03__Recurring_Donation_Campaign__c</assignToReference>
            <field>Campaign_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1590</locationX>
        <locationY>6110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reassign_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Payer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_From_Existing_RD</name>
        <label>Get Opp From Existing RD</label>
        <locationX>842</locationX>
        <locationY>8774</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recurring_Donation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Payment.Date_Approved_DT__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_From_New_RD</name>
        <label>Get Opp From New RD</label>
        <locationX>578</locationX>
        <locationY>8774</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npe03__Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recurring_Donation.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>974</locationX>
        <locationY>8342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recurring_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPayment.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MP_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RD</name>
        <label>Get RD</label>
        <locationX>578</locationX>
        <locationY>6518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_RD_Exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MP_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPayment.MP_Subscription__r.Id</elementReference>
            </value>
        </filters>
        <object>npe03__Recurring_Donation__c</object>
        <outputReference>NewRecurringDonation</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Recurring_Donation</name>
        <label>Get Recurring Donation</label>
        <locationX>974</locationX>
        <locationY>8450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Got_Recurring_Donation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Subscription__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingPayment.MP_Subscription__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>2162</locationX>
        <locationY>6734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Subscription_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subscription_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MP_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Plan</name>
        <label>Get Subscription Plan</label>
        <locationX>1623</locationX>
        <locationY>5318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_New_Subscription_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Plan_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Plan_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MP_Subscription_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_By_Email</name>
        <label>Lookup Contact By Email</label>
        <locationX>1370</locationX>
        <locationY>2156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Search_e</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contact_By_MP_ID</name>
        <label>Lookup Contact By MP ID</label>
        <locationX>2426</locationX>
        <locationY>2156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Search_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Payer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MP_Get_Payment.2XX.payer.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Payment</name>
        <label>Lookup Payment</label>
        <locationX>2558</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MP_Get_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payment_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MP_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Subscription</name>
        <label>Lookup Subscription</label>
        <locationX>1898</locationX>
        <locationY>1448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Payment_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Subscription_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Subscription_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MP_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Subscription_Plan</name>
        <label>Lookup Subscription Plan</label>
        <locationX>1557</locationX>
        <locationY>4562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Plan_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MP_Plan_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Plan_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MP_Subscription_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1326</locationX>
        <locationY>5894</locationY>
        <connector>
            <targetReference>Does_Subscription_Exist</targetReference>
        </connector>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>446</locationX>
        <locationY>9182</locationY>
        <inputReference>Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_1</name>
        <label>Update Payment</label>
        <locationX>446</locationX>
        <locationY>7934</locationY>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
        <inputReference>IncomingPayment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recurring_Donation</name>
        <label>Update Recurring Donation</label>
        <locationX>50</locationX>
        <locationY>6842</locationY>
        <connector>
            <targetReference>Update_Or_Insert_Payment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_RD_Error</targetReference>
        </faultConnector>
        <inputReference>NewRecurringDonation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>578</locationX>
        <locationY>8126</locationY>
        <connector>
            <targetReference>Upsert_Opportunity</targetReference>
        </connector>
        <inputReference>NewSubscription</inputReference>
    </recordUpdates>
    <start>
        <locationX>2894</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Identify_Endpoint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactExistence</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DayOfMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Endpoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Frequency_Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Frequency_Period</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </variables>
    <variables>
        <name>IncomingPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>MP_Payment__c</objectType>
    </variables>
    <variables>
        <name>MP_Notification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MP_Notification_Log__c</objectType>
    </variables>
    <variables>
        <name>NewPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MP_Subscription_Plan__c</objectType>
    </variables>
    <variables>
        <name>NewRecurringDonation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>NewSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MP_Subscription__c</objectType>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppStageVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Pledged</stringValue>
        </value>
    </variables>
    <variables>
        <name>Payment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Plan_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recurring</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecurringType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>Searched_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Subscription_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </variables>
</Flow>
